@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Shadows+Into+Light&display=swap');

$font: "Nunito", sans-serif;
$logo-font: "Shadows into light", sans-serif;
$title-font: "Josefin Sans", sans-serif;
$background: #d1d7da;
$color-touch: #AA2041;
