@use "../variables.scss" as *;

@mixin content {
  display: flex;
  gap: 5rem;
  padding: 0 3rem;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0rem;
    padding: 0 1rem;
  }
}

@mixin content-title {
  width: 20%;
  border-left: 2px solid $color-touch;
  padding-left: 0.5rem;

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 1rem;
  }

  [data-theme="dark"] & {
    border-left: 2px solid $color-touch-dark;
  }
}

@mixin content-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 4rem;

  @media (max-width: 1024px) {
    padding: 0;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
