@use "../variables.scss" as variables;

@mixin link {
  color: variables.$text-color-dark;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s;

  // for computer and accessibility
  &:hover,
  &:focus {
    opacity: 0.6;
  }
}