@use "../../assets/style/variables.scss" as variables;
@use "../../assets/style/mixins/link.scss" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: black;

    @media (max-width: 768px) {
        padding: 2rem 1rem;
    }

    &__nav {
        display: flex;
        gap: 3rem;
        padding-top: 0.9rem;

        @media (max-width: 768px) {
            display: none;
        }

        a {
            @include link;
        }
    }

    &__burger {
        border: none;
        color: variables.$background;
        background-color: black;
        font-size: 1.4rem;
        cursor: pointer;
    }
}