@use "../../assets/style/mixins/link.scss" as *;
@use "../../assets/style/mixins/button.scss" as *;
@use "../../assets/style/variables.scss" as variables;

.slider {
    position: absolute;
    right: 0;
    top: 3.3rem;
    border-top: 0.3rem solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

    @media (max-width: 768px) {
      right: auto;
      top: auto;
      bottom: 0rem;
    }

    &__container {
      background-color: rgba(white, 0.4);
      height: 20rem;
      width: 10rem;
      margin-bottom: 0.6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (max-width: 768px) {
        height: 10rem;
        width: 15rem;
      }

      // slider first view
      .fa-github {
        font-size: 3rem;
        @include link;
        color: black;
      }

      &__border {
        border: 1px dotted black;
        margin: 3rem;
        width: 80%;

        @media (max-width: 768px) {
          margin: 1.5rem;
        }
      }

      &__cv {
        @include button;
        padding: 0 2rem;
      }
    }

    &__container--second-view {
      padding: 0.5rem;
      text-align: center;

      .list {
        list-style: none;
        margin-top: 1rem;

        &__link {
          @include link;
          color: variables.$color-touch;
          font-weight: 700;
          padding: 0 1rem;
        }

        &__text {
          margin-top: 0.5rem; 
        }
      }
    }

    .dot {
      height: 0.6rem;
      width: 0.6rem;
      border-radius: 50%;
      border: solid 0.1rem black;
      display: inline-block;
      cursor: pointer;
      margin: 0.2rem;

      &.active {
        background-color: black;
      }
    }
  }